n8n-workflow-deploy.json
{
  "name": "Deploy Tenant Website",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deploy-tenant-website",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "deploy-tenant-website"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-tenant-id",
              "leftValue": "={{ $json.tenant_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "condition-domain",
              "leftValue": "={{ $json.domain }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-input",
      "name": "Validar Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "content": "## Deploy Tenant Website\n\nWorkflow simplificado:\n1. Recibe webhook con datos del tenant\n2. Valida tenant_id y domain\n3. Ejecuta deploy via SSH\n4. Responde con resultado\n\n**Nota:** DNS no es necesario porque existe wildcard *.miancho.com",
        "height": 280,
        "width": 320
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 160]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "=#!/bin/bash\nset -e\n\nTENANT_ID=\"{{ $json.tenant_id }}\"\nDOMAIN=\"{{ $json.domain }}\"\nTEMPLATE_REPO=\"https://github.com/miancho/tenant-template-medico.git\"\nBASE_PATH=\"/opt/miancho/tenants\"\nCADDY_SITES=\"/etc/caddy/sites\"\n\necho \"[1/5] Creando directorio para $DOMAIN...\"\nmkdir -p $BASE_PATH/$DOMAIN\ncd $BASE_PATH/$DOMAIN\n\necho \"[2/5] Clonando template...\"\nif [ -d \".git\" ]; then\n  git fetch origin\n  git reset --hard origin/main\nelse\n  git clone $TEMPLATE_REPO .\nfi\n\necho \"[3/5] Escribiendo tenant.config.json...\"\ncat > tenant.config.json << 'CONFIGEOF'\n{{ JSON.stringify($json.config, null, 2) }}\nCONFIGEOF\n\necho \"[4/5] Instalando dependencias y build...\"\npnpm install --frozen-lockfile 2>/dev/null || pnpm install\npnpm build\n\necho \"[5/5] Configurando Caddy...\"\nmkdir -p $CADDY_SITES\ncat > $CADDY_SITES/$TENANT_ID.caddy << EOF\n# Tenant: $TENANT_ID - $(date -Iseconds)\n$DOMAIN {\n    root * $BASE_PATH/$DOMAIN/out\n    file_server\n    encode gzip\n    try_files {path} {path}.html {path}/ /404.html\n    header {\n        X-Tenant-ID \"$TENANT_ID\"\n        X-Frame-Options \"SAMEORIGIN\"\n        X-Content-Type-Options \"nosniff\"\n    }\n    @static path *.css *.js *.ico *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2\n    header @static Cache-Control \"public, max-age=31536000, immutable\"\n}\nEOF\n\n# Recargar Caddy\nCADDY_CONTAINER=$(docker ps --filter \"name=caddy\" --format \"{{.Names}}\" | head -1)\nif [ -n \"$CADDY_CONTAINER\" ]; then\n  docker exec $CADDY_CONTAINER caddy reload --config /etc/caddy/Caddyfile\nelse\n  systemctl reload caddy 2>/dev/null || caddy reload\nfi\n\necho \"Deploy completado: https://$DOMAIN\""
      },
      "id": "ssh-deploy",
      "name": "SSH Deploy",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [680, 280],
      "credentials": {
        "sshPassword": {
          "id": "VPS_SSH_CREDENTIAL_ID",
          "name": "VPS SSH"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"tenant_id\": \"{{ $('Webhook Trigger').item.json.tenant_id }}\",\n  \"domain\": \"{{ $('Webhook Trigger').item.json.domain }}\",\n  \"url\": \"https://{{ $('Webhook Trigger').item.json.domain }}\",\n  \"deployed_at\": \"{{ $now.toISO() }}\",\n  \"message\": \"Website deployed successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: tenant_id and domain are required\",\n  \"received\": {{ JSON.stringify($('Webhook Trigger').item.json) }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prep-config",
              "name": "config",
              "value": "={{ {\n  tenant_id: $json.tenant_id,\n  negocio: $json.negocio || {},\n  branding: $json.branding || {\n    colorPrimario: '#1e3a5f',\n    colorSecundario: '#d4a574',\n    colorAccento: '#2563eb'\n  },\n  secciones: $json.secciones || {},\n  seo: $json.seo || {},\n  footer: $json.footer || {}\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-config",
      "name": "Preparar Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 140]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Input": {
      "main": [
        [
          {
            "node": "SSH Deploy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Deploy": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Config": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "deploy",
      "id": "1"
    },
    {
      "name": "tenant",
      "id": "2"
    }
  ]
}
